<div class="container-fluid mt-5 col-12">
    <div class="row justify-content-around">
        <div class="card d-flex justify-content-around" id="pokemon1" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tu pokemon</h5>
              <p class="card-text">Busca al primer pokemon según su nombre:</p>
              <mat-form-field>
                <input matInput placeholder="Search">
               </mat-form-field>
            </div>
          </div>
        
          <div class="card d-flex justify-content-around" id="pokemon2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pokemon oponente</h5>
              <p class="card-text">Busca al segundo pokemon según su nombre:</p>
              <mat-form-field>
                <input matInput placeholder="Search">
               </mat-form-field>
               
               <!-- <div *ngFor="let folder of folderObjs">
                 <span>{{folder.folderName}}</span>
                 <span>{{folder.folderSize}}</span>
               </div> -->
            </div>
          </div>
    </div>
</div>